body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000; /* Soft rectangle background color for the whole page */
  }  
  .container {
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
    align-items: center;
    padding-top: 23vh; /* Add 30 pixels of padding on the top for the container */
    padding-left: 30px; /* Add 30 pixels of padding on the left for the container */
    padding-right: 30px; /* Add 30 pixels of padding on the right for the container */
    background: url(Images/bckrng6.png);
    /*background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 30vh;*/
    background: #000;
    padding-bottom: 34vh;
    }

form{
    z-index: 5;
    background: #fff; 
    display: flex; 
    flex-direction: column;
    padding: 2vw 4vw; 
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    margin-top: 20px;
    z-index: 5;
    color: #555;
    font-weight: 800;
    margin-bottom: 50px;
}

form h2{
    font-family: 'Times New Roman', Times, serif;
    z-index: 5; 
    color:#000;
    font-weight: 200;
    margin-bottom: 100px;
}

form a{ 
    font-family: 'Times New Roman', Times, serif;
    z-index: 5; 
    color:#000;
    font-weight: 200;
    margin-bottom: 100px;
}


form input, form textarea{
    z-index: 5;
    border: 0; 
    margin: 10px, 0; 
    padding: 20px;
    outline: none; 
    background: #f5f5f5; 
    font-size: 16px; 
}

form button{
    z-index: 5;
    padding: 15px; 
    background: #ff5361; 
    color: #fff; 
    font-size: 18px; 
    border: 0; 
    outline: none; 
    cursor: pointer; 
    width: 150px; 
    margin: 20px auto 0; 
    border-radius: 30px; 

}
